<footer class="p-4 bg-cone sm:p-6 dark:bg-cfour">
    <div class="container">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="#" class="flex items-center">
                    <img src="https://flowbite.com/docs/images/logo.svg"
                            class="h-8 mr-3"
                            alt="FlowBite Logo"/>
                </a>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Resources</h2>
                    <ul class="text-gray-600 dark:text-gray-400">
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Flowbite</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline">Tailwind CSS</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Follow us</h2>
                    <ul class="text-gray-600 dark:text-gray-400">
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Github</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline">Discord</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
                    <ul class="text-gray-600 dark:text-gray-400">
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-cfour/50 sm:mx-auto dark:border-cone/50 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023
                <a href="https://hawas.com/" class="hover:underline">HAWAS™
                </a>. All Rights Reserved.
            </span>
            <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
                <a href="#"
                    class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="#"
                    class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#"
                    class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#"
                    class="fill-gray-500 hover:fill-gray-900 dark:hover:fill-white">
                    <svg class="w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path
                        d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z"
                        />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>