{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Contact-Us | Hawas</title>
{% endblock title %}
{% block extrahead %}
<style>
   .white-lg {
      background: -webkit-linear-gradient(#E0C097, #B85C38);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }
</style>
{% endblock extrahead %}
{% block content %}
<header class="aspect-video max-h-[50vh] w-full bg-cover bg-center"
   style="background-image:url({{hero_section.image.url}})">
   <div class="h-full w-full bg-white/75 dark:bg-black/75">
      <div class="container h-full flex flex-col justify-center dark:text-white">
         <h1 class="text-3xl md:text-5xl font-bold mb-4">{{hero_section.title}}</h1>
         <p class="text-xl font-light">
            {{hero_section.description}}
         </p>
      </div>
   </div>
</header>

<section class="py-12 text-red">
   <div class="container dark:text-white">
      <div class="grid grid-cols-5 grid-rows-2 gap-4 lg:gap-8">
         <div class="flex justify-center contact-box col-span-5 md:col-span-3 row-span-2">
            <div class="w-full max-w-2xl">
               <div class="mb-8">
                  <h2 class="text-2xl font-bold mb-4">Quick Message</h2>
                  <p class="text-gray-500 dark:text-gray-200">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Quisquam,
                     quod.</p>
               </div>
               <form action="{% url 'contact' %}" method="POST">
                  {% csrf_token %}
                  <div class="mb-4">
                     <label for="name" class="block text-gray-500 dark:text-gray-200 mb-2">Name</label>
                     <input type="text" name="name" id="name" required
                        class="w-full border border-gray-300 dark:bg-neutral-900 dark:border-neutral-700 rounded-lg px-4 py-2 focus:outline-none focus:border-ctwo"
                        placeholder="Enter your name">
                  </div>
                  <div class="mb-4">
                     <label for="email" class="block text-gray-500 dark:text-gray-200 mb-2">Email</label>
                     <input type="email" name="email" id="email" required
                        class="w-full border border-gray-300 dark:bg-neutral-900 dark:border-neutral-700 rounded-lg px-4 py-2 focus:outline-none focus:border-ctwo"
                        placeholder="Enter your email">
                  </div>
                  <div class="mb-4">
                     <label for="message" class="block text-gray-500 dark:text-gray-200 mb-2">Message</label>
                     <textarea name="message" id="message" rows="3" style="resize:none;" required
                        class="w-full border border-gray-300 dark:bg-neutral-900 dark:border-neutral-700 rounded-lg px-4 py-2 focus:outline-none focus:border-ctwo"
                        placeholder="Enter your message"></textarea>
                  </div>
                  <div class="mb-4">
                     <button type="submit"
                        class="text-white w-fit shadow-lg bg-gradient-to-r dark:from-ctwo from-cone dark:via-cthree via-ctwo  dark:to-cfour to-cthree  hover:bg-gradient-to-br focus:outline-none font-medium rounded-lg px-5 py-2.5 text-center mr-2 mb-2 text-xl">Send</button>
                  </div>
               </form>
            </div>
         </div>
         <div class="contact-box col-span-5 md:col-span-2 flex gap-4  items-center">
            <i class="fas fa-phone-alt text-6xl lg:text-9xl drop-shadow-xl white-lg"></i>
            <div class="flex flex-col gap-2">
               <h4 class="text-2xl font-bold uppercase">{{call.title}}</h4>
               <p>{{call.description}}</p>
               <p class="text-xl font-light hover:underline copy">{{call.phone1}}</p>
               <p class="text-xl font-light hover:underline copy">{{call.phone2}}</p>
            </div>
         </div>
         <div class="contact-box col-span-5 md:col-span-2 flex gap-4  items-center">
            <i class="fas fa-at text-6xl lg:text-9xl drop-shadow-xl white-lg"></i>
            <div class="flex flex-col gap-2">
               <h4 class="text-2xl font-bold uppercase ">{{mail.title}}</h4>
               <p>{{mail.description}}</p>
               <p class="text-xl font-light hover:underline copy">{{mail.mail}}</p>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock content %}

{% block scripts %}
<script>
   const textToCopyElements = document.querySelectorAll('.copy');

   const copyTextToClipboard = (event) => {
      const textToCopy = event.target;
      const tempInput = document.createElement('input');
      tempInput.value = textToCopy.textContent;
      document.body.appendChild(tempInput);

      tempInput.select();
      tempInput.setSelectionRange(0, 99999); // For mobile devices

      document.execCommand('copy');

      document.body.removeChild(tempInput);

      alert('Text copied to clipboard!');

      textToCopy.addEventListener('click', copyTextToClipboard);
   };

   textToCopyElements.forEach((textToCopyElement) => {
      textToCopyElement.addEventListener('click', copyTextToClipboard);
   });
</script>
{% endblock scripts %}